body {
    background-color: #777777;
    width: 900px; 
    margin: 0 auto;
}

form {
    background-color: #cccccc;
    margin-bottom:10px;
    padding: 30px;
}

.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.main_page {
    padding: 20px;
    text-align: center;
    color: black;
    background-color: #cccccc;
    height:300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

a.main_btn {
    text-decoration: none;
    color: white;
}

.main_btn {
    margin-right: 50px
}

.btn {
    border-style: solid;
    border-width: 2px;
    background-color: #b36b00;
    padding: 15px;
    /* width: 10%; */
}

.navbar {
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #008e6e;
}

.nav {
    display:flex;    
    width:40%;
    text-align: center;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.nav_greeting {
    display:inline-block;    
    width:30%;
    padding-left: 10px;
}

.nav_logout {
    display:flex;    
    width:30%;
    text-align: center;
    padding-right: 10px;
    align-self: stretch;
    align-items: center;
    justify-content: right;
}

.nav_btn {
    text-decoration: none;
    color: #333333;
    font-weight: bolder;
    font-size: large;
    padding: 10px;  
}

.left_nav {
    border-right: 2px solid;
}

.flashes {
    background-color: #FC1690;
    color: white;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
}

.btn_wrapper {
    display: flex; 
    justify-content: flex-end;
    background-color: #cccccc;
}

.add_btn {
    float: right;
    margin: 15px;
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    background-color: #b36b00;
}

a.link {
    color: white;
    text-decoration: none;
    /* display: block; */
}

.packages {
    background-color: #cc7a00;
    color: white;
    margin-bottom: 8px;
}

.package {
    border-style: solid;
    border-width: 1px;
    display:flex;
}

.package_details {
    padding: 15px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
}

.package_delete {
    background-color: #b36b00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-style: solid;
    border-width: 1px;
}

.footer {
    padding: 5px;
    text-align: center;
}

input:not([type=radio]) {
    background-color: #eeeeee;
    padding: 15px;
    width: 100%;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
}
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

* { box-sizing: border-box }

input.invalid{
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}

.error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

label {
    font-weight: bold;
}

.left{
    float: left;
    width: 37%;
}

.right{
    float: right;
    width: 57%;
}

.clear{
    clear: left;
}

.content {
    padding-left: 10px;
    padding-right: 40px;
}