body {
    background-color: #777777;
    width: 900px; 
    margin: 0 auto;
}

form {
    background-color: #dddddd;
    margin-bottom:10px;
    padding: 30px;
}
.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
}
.mainPage {
    padding: 20px;
    text-align: center;
    color: black;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #008e6e;
}
.nav {
    display:inline-block;    
    width:40%;
    text-align: center;
}
.nav_greeting {
    display:inline-block;    
    width:30%;
}
.nav_logout {
    text-align: right;
    display:inline-block;    
    width:30%;
}

.flashes {
    background-color: #FC1690;
    color: white;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
}

.btn_wrapper {
    display: flex; 
    justify-content: flex-end
}

.add_btn {
    float: right;
    margin: 15px;
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    background-color: #b36b00;
}

a.link {
    color: white;
    text-decoration: none;
    display: block;
}

.packages {
    background-color: #cc7a00;
    color: white;
    margin-bottom: 8px;
}

.package {
    border-style: solid;
    border-width: 1px;
    display:flex;
}

.package_details {
    padding: 15px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
}

.package_delete {
    background-color: #b36b00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-style: solid;
    border-width: 1px;
}

.footer {
    padding: 5px;
    text-align: center;
}

input:not([type=radio]) {
    background-color: #eeeeee;
    padding: 15px;
    width: 100%;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
}
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}
* { box-sizing: border-box }
input.invalid{
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}

.error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

label {
    font-weight: bold;
}
.left{
    float: left;
    width: 37%;
}
.right{
    float: right;
    width: 57%;
}
.clear{
    clear: left;
}
.content {
    padding-left: 10px;
    padding-right: 40px;
}