
<!DOCTYPE html>
<html lang="pl">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<body>

<div class="header">
  <h1>PaczUszki - PackagEar</h1>
  <p>Strona utworzona przez: <b>Michał Bogusz</b></p>
</div>

<div class="navbar">
  <a href="/" class="active">Strona główna</a>
  <a href="/sender/register">Zarejestruj</a>
  <a href="/sender/login">Zaloguj</a>
</div>

<div id="wrap">
    {% block content %}{% endblock %}
</div>

<div class="footer">
  2020 <a href="https://github.com/michalbogusz23/PackageEar">Źródło strony</a>
</div>

</body>

</html>