
<!DOCTYPE html>
<html lang="pl">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<body>

<div class="header">
  <h1>PaczUszki - PackagEar</h1>
  <p>Strona utworzona przez: <b>Michał Bogusz</b></p>
</div>

{% if session['user'] %}
  <div class="navbar">

      <span class="nav_greeting">
        <div>
          Witaj {{session['user']}}!
        </div> 
        <div>
          Zalogowano o: {{session['login_date']}}
        </div>
      </span>
    
    <span class="nav">
      <a href="/" class="nav_btn left_nav">Strona główna</a>
      <a href="/sender/dashboard" class="nav_btn">Moje paczki</a>
    </span>

      <span class="nav_logout"><a href="/sender/logout" class="nav_btn">Wyloguj</a></span>
  </div>
{% endif %}

<div class="wrap">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class=flashes>
          {% for message in messages %}
            <span>{{ message }}</span>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}
    
    {% endblock %}
</div>

<div class="footer">
  2020 <a href="https://github.com/michalbogusz23/PackageEar/tree/third_mile_stone">Źródło strony</a>
</div>

</body>

</html>