
<!DOCTYPE html>
<html lang="pl">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<body>

<div class="header">
  <h1>PaczUszki - PackagEar</h1>
  <p>Strona utworzona przez: <b>Michał Bogusz</b></p>
</div>

<div class="navbar">
  {% if session['user'] %}
    <span class="nav_greeting">
      <div>
        Witaj {{session['user']}}!
      </div> 
      <div>
        Zalogowano o: {{session['login_date']}}
      </div>
    </span>
  {% endif %}
  
  <span class="nav">
    <a href="/" class="active">Strona główna</a>
    <a href="/sender/register">Zarejestruj</a>
    <a href="/sender/login">Zaloguj</a>
  </span>

  {% if session['user'] %}
    <span class="nav_logout"><a href="/sender/logout">Wyloguj</a></span>
  {% endif %}

  

</div>

<div id="wrap">
    {% block content %}{% endblock %}
</div>

<div class="footer">
  2020 <a href="https://github.com/michalbogusz23/PackageEar">Źródło strony</a>
</div>

</body>

</html>