{% extends "base.html" %}
{% block content %}
<div class="main_page">
    {% if session['user'] %}

        <div>
            <h1>Witaj na stronie głównej nowego serwisu do paczek</h1>
            <h3>Wkrótce będzie się działo</h3>
        </div>

    {% else %}
        <div>            
            <a href="/sender/login" class="main_btn"><div class="btn">Zaloguj</div></a>
            <a href="/sender/register" class="main_btn"><div class="btn">Zarejestruj</div></a>
        </div>
    {% endif %}
</div>
{% endblock %}