{% extends "base.html" %}
{% block content %}

    <div class="btn_wrapper">
        <a href="/package/add" class="link"><div class="add_btn">Dodaj paczkę</div></a>
    </div>
    

    {% if packages %}
    <div class="packages">
        {% for package in packages %}
            <div class="package">
                <div class="package_details">
                    <div>Nazwa adresta: <b>{{ package.receiver_name }}</b></div>
                    <div>Identyfikator skrytki:<b> {{ package.box_id }}</b></div>
                    <div>Rozmiar paczki:<b> {{ package.size }}</b></div>
                    <div>Identyfikator paczki:<b> {{ package.id }}</b></div>
                </div>
                <a href="/package/delete/{{ package.id }}" class="link package_delete">
                    <p1>USUŃ</p1>
                </a>    
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}