{% extends "base.html" %}
{% block content %}

    <div class="btn_wrapper">
        <a href="/package/add" class="link"><div class="add_btn">Dodaj paczkę</div></a>
    </div>
    

    {% if packages %}
    <div class="packages">
        {% for package in packages %}
            <div class="package">
                <div class="package_details">
                    <div><b>Nazwa adresta:</b> {{ package.receiver_name }}</div>
                    <div><b>Identyfikator skrytki:</b> {{ package.box_id }}</div>
                    <div><b>Rozmiar paczki:</b> {{ package.size }}</div>
                    <div><b>Identyfikator paczki:</b> {{ package.id }}</div>
                </div>
                <a href="/package/delete/{{ package.id }}" class="link package_delete">
                    <p1>USUŃ</p1>
                </a>    
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}