{% extends "base.html" %}
{% block content %}

    {% if packages %}
    <div class="packages">
        {% for package in packages %}
            <div class="package">
                <div class="package_details">
                    <div><b>Nazwa adresta:</b> {{ package.address }}</div>
                    <div><b>Identyfikator skrytki:</b> {{ package.boxId }}</div>
                    <div><b>Rozmiar paczki:</b> {{ package.size }}</div>
                    <div><b>Identyfikator paczki:</b> {{ package.id }}</div>
                </div>
                <div class="package_delete">
                    <p1>USUŃ</p1>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}