{% extends "base.html" %}
{% block content %}
<form method="POST" action="https://infinite-hamlet-29399.herokuapp.com/sender/register" enctype="multipart/form-data" id="registerForm">
    <h1>Stwórz konto</h1>
    <div class="content">
    <div class="left">
        <label> Imię
            <input type="text" name="firstname" id="firstname" class="name" placeholder="Imię"/>
            <span class="error" aria-live="polite"></span>
        </label>
    </div>
    <div class="right">
        <label> Nazwisko
            <input type="text" name="lastname" id="lastname" class="name" placeholder="Nazwisko"/>
            <span class="error" aria-live="polite"></span>
        </label>
    </div>
    <div class="clear">
        <label>Hasło
            <input type="password" name="password" id="password" placeholder="*********"/>
            <span class="error" aria-live="polite"></span>
        </label>
        <label>Potwierdź hasło
            <input type="password" id="passwordCheck" placeholder="*********"/>
            <span class="error" aria-live="polite"></span>
        </label>
        <label> Login
            <input type="text" name="login" id="login" placeholder="Login"/>
            <span class="error" aria-live="polite"></span>
            <span class="error" id="userExistError" aria-live="polite"></span>
        </label>
        <label>E-mail
            <input type="email" id="email" placeholder="E-mail"/>
            <span class="error" aria-live="polite"></span>
        </label>
        <label>Adres zamieszkania
            <input type="text" id="address" placeholder="Adres zamieszkania"/>
            <span class="error" aria-live="polite"></span>
        </label>
        <div><input type="submit" class="valid" id="submit"></div>
        
        <span class="error" aria-live="polite" id="finalError"></span>
        
    </div>
    </div>
</form>
<!-- <script type="text/javascript" src="/static/validation.js"></script> -->
{% endblock %}