body {
    background-color: #777777;
    width: 900px; 
    margin: 0 auto;
}

form {
    background-color: #dddddd;
    margin: 10px;
    padding: 30px;
}
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}
.navbar {
    text-align: center;
    padding: 5px;
}
.footer {
    padding: 5px;
    text-align: center;
}
input {
    background-color: #eeeeee;
    padding: 15px;
    width: 100%;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
}
input.invalid{
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}


.error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}

label {
    font-weight: bold;
}
.left{
    float: left;
    width: 37%;

}
.right{
    float: right;
    width: 57%;
}
.clear{
    clear: left;
}
.content {
    padding-left: 10px;
    padding-right: 40px;
}